<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909481590933-h9maj942pk26k4umccdbqdon5ncteqnf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909481590933-h9maj942pk26k4umccdbqdon5ncteqnf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>909481590933-rivh0pi8loiguu7t6v18s2eogpi23fle.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyADKfGzpWrbg-voCWx0-nhobhpJj5S_ek8</string>
	<key>GCM_SENDER_ID</key>
	<string>909481590933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akujuara.akuJuara</string>
	<key>PROJECT_ID</key>
	<string>mgoalindo---app</string>
	<key>STORAGE_BUCKET</key>
	<string>mgoalindo---app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909481590933:ios:c00e29c66534f097a5db9c</string>
	<key>DATABASE_URL</key>
	<string>https://mgoalindo---app-default-rtdb.firebaseio.com</string>
</dict>
</plist>